PixelRL-SR/sr_weight/x2/SwinIR-M_x2.pth filter=lfs diff=lfs merge=lfs -text
PixelRL-SR/sr_weight/x3/SwinIR-M_x3.pth filter=lfs diff=lfs merge=lfs -text
PixelRL-SR/sr_weight/x4/SwinIR-M_x4.pth filter=lfs diff=lfs merge=lfs -text
